
body {
    color: #FFFFFF;
        background-color: #FFFFFF;
        display: grid;
         grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 25%); 
        font-family: "Anton", sans-serif;
        font-size: 30px ; 
    }

body > header {
        background-color: #BF8563;
        grid-row: 1/ span 2;
        grid-column: 1/ span 12;
        height: auto;
        width: auto;
    }

nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #333333;
    height: 40px;
    grid-row: 3;
    grid-column: 1/ span 12;
    font-size: large;
    }

    a:visited {
        color: #FFFFFF;
    }
    
    a:link {
        text-decoration: no;
        color: #FFFFFF;
    }
    
    a:hover {
        color: #347355;
    }
    
    a {
        margin-left: 20px;
    }

    nav > div {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 7/span 3;
    }

    

.profile {
    width: 100px;
    height: 100px;
    grid-column: 12;
    border-radius: 200%;
    background-color: #BF8563;
    grid-row: 3;
    }

 .recent {
    background-color: #333333;
    grid-column: 3/ span 8;
    grid-row: 4/ span 2;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 100px);
} 

.recent > h6 {
    grid-row: 2;
    grid-column: 1/ span 8;
}
h1 {
    padding: -109;
        font-size: 50px;
    }

    .title {
        background-color: #333333;
            grid-column: 3/ span 4;
            grid-row: 1;
            text-align: center;
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .post {
            grid-row: 7/ span 2;
            grid-column: 1/ span 3;
            background-color: #2A5943;
            width: auto;
            height: auto;
        }

        .post:nth-child(2n) {
            grid-row: 7/ span 3;
            grid-column: 6/span 3;
        }

            .entry {
                margin: 10px;
                grid-row: 2/ span 2;
                grid-column: 1/ span 2;
                font-size: 20px;
                height: auto;
                width: auto;
                }
            
    ul {
        list-style-type: none;
        margin: 20px;
    }

    h2 {
        font-size: 25px;
        color: #333333;
    }

    footer {
        background-color: #2A5943;
        grid-row: 12;
        grid-column: 1/ span 12;
     }