body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #BF8563;
    height: 100px;
    width: 100px;
}