body {
    font-family: "Anton", sans-serif;
    font-size: 30px ; 
}

body > a > button {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #BF8563;
} 


form {
grid-column: 2 / span 3;
grid-row: 1/ spna 3;
}

input {
background-color: #347355;
}

